*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #eaeef9;
}

.header-nav {
    margin: 0px;
    list-style: none;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-nav__item {
    display: inline-block;
    word-spacing: 30px;
}

.header-nav__item a {
    text-decoration: none;
}

.header-nav__item a:hover {
    color: #e359ec;
}

.lists {
    display: flex;
    justify-content: space-evenly;
}

.fruit-list__article {
    background: #ffffff;
    width: 300px;
    height: 310px;
    border-radius: 20px;
    margin-top: 80px;
}

.fruit-list__image {
    width: 230px;
    position: relative;
    bottom: 40px;
    margin-left: 35px;
    margin-bottom: -15px;
    border-radius: 10px;
}

.fruit-list__title {
    color: #302A47;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-left: 30px;
}

.fruit-list__subtitle{
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 30px;
}

.fruit-list__list {
    color: #302A47;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 30px;
}

.tag-comida {
    color: #ec5960;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #ffe0cc;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    left: 115px;
    top: 20px;
}

.tag-mercado {
    color: #2e54fa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #cae3ff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    left: 120px;
    top: 20px;
}

.plants-list__article {
    background: #ffffff;
    width: 300px;
    height: 310px;
    border-radius: 20px;
    margin-top: 80px;
}

.plants-list__image {
    width: 230px;
    position: relative;
    bottom: 40px;
    margin-left: 35px;
    margin-bottom: -15px;
    border-radius: 10px;
}

.plants-list__title {
    color: #302A47;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-left: 30px;
}

.plants-list__subtitle{
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 30px;
}

.plants-list__list {
    color: #302A47;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}

.tag-casa {
    color: #6648eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #e2daff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    left: 115px;
    top: 20px;
}

.tag-plantas {
    color: #06973e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #bafdd4;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    left: 120px;
    top: 20px;
}